		<div id="services" name="services">


		<div id="greywrap">
			<div class="row ">
				<div class="col-lg-4 callout p-3">
					<span class="icon icon-stack"></span>
					<h2>{{site.design.footertitle1}}</h2>
					<p>{{site.design.footertext1}}</p>
				</div>
					
				<div class="col-lg-4 callout p-3">
					<span class="icon icon-eye"></span>
					<h2>{{site.design.footertitle2}}</h2>
					<p>{{site.design.footertext2}}</p>
				</div>
				
				<div class="col-lg-4 callout p-3">
					<span class="icon icon-heart"></span>
					<h2>{{site.design.footertitle3}}</h2>
					<p>{{site.design.footertext3}}</p>
				</div>
			</div>
		</div>
		
		</div>